<app-header></app-header>
<mat-card class="card w-25 d-flex">
  <mat-card-header>
    <mat-card-title class="card-title">Reset Your Password</mat-card-title>
  </mat-card-header>
  <mat-form-field class="card-full-width">
    <mat-label>Password</mat-label>
    <input
      [(ngModel)]="passwordReseponse"
      type="password"
      matInput
      placeholder="Password"
      required
    />
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>
  <mat-form-field class="card-full-width">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput placeholder="Confirm Password" required />
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>
  <button
    mat-button
    type="submit"
    class="btn btn-primary"
    (click)="onResetPassword()"
  >
    Reset
  </button>
</mat-card>
