<app-header></app-header>
<app-spinner></app-spinner>
<main>
  <form class="card-form">
    <mat-card class="card d-flex m-auto">
      <mat-card-header>
        <mat-card-title class="card-title">Forget Password</mat-card-title>
      </mat-card-header>
      <mat-form-field class="r">
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="emailResponse"
          type="email"
          name="user-email"
          matInput
          placeholder="Email"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <button
        mat-button
        type="submit"
        class="btn btn-primary"
        (click)="onSendingEmail()"
      >
        Send
      </button>
    </mat-card>
  </form>
</main>
