<div class="footer_bottom" >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 text align-items-center">
          <p class="mb-0 text text-center mt-2">
            ©apnarozgaar 2021 All rights reserved.
          </p>
        </div>
        <div class="col-12 text text-center">
          <p>
            Made with <mat-icon style="color: #df1212;">favorite</mat-icon> in India
          </p>
        </div>
        <div class="col-12 text text-center">
          <img src="../../../assets/newLogo.png" alt="" width="200px">
        </div>
        <div class="col text text-center mt-1 mb-1">
            {{now | date:'EEEE, MMMM d, y, h:mm:ss a '}}
          </div>
      </div>
    </div>
  </div>
